<div class="container">
	<table class="table table-hover">
		<thead>
			<tr>
				<th>Name</th>
				<th>Address</th>
				<th>Contact</th>
				<th>Token</th>
				<th>Toggle</th>
			</tr>
		</thead>
		<tbody>
			{{ range .Services }}
			<tr>
				<td><a href="{{ .Url }}">{{ .Name }}</a></td>
				<td>{{ .Address }}</td>
				<td><a href="mailto:{{ .Email }}">{{ .Email }}</a></td>
				<td>{{ .Key }}</td>
				<td>
				{{ if .Mode }}
					<form action="/admin/" method="post">
						<input type="hidden" name="id" value="{{ .Id }}" />
						<button type="submit" class="btn btn-default btn-sm"
								name="action" value="disable">
							<span class="glyphicon glyphicon-minus"></span>
						</button>
					</form>
				{{ else }}
					<form action="/admin/" method="post">
						<input type="hidden" name="id" value="{{ .Id }}" />
						<button type="submit" class="btn btn-default btn-sm"
								name="action" value="enable">
							<span class="glyphicon glyphicon-plus"></span>
						</button>
					</form>
				{{ end }}
				</td>
			</tr>
			{{ end }}
		</tbody>
	</table>
</div>
