<!-- XXX set some slides on this -->
<div class="container">
<h1> Awesom Auth Server </h1>
<p>
	The <abbr title="Awesom Auth Server">AAS</abbr> allows
	multiple services to share the same user base. Here's a
	summary:
	<ul>
		<li> User need to have a valid email account </li>
		<li>
			AAS is <a href="http://passwordless.org">password-less</a>:
			the user only have to remember its email password
		</li>
	</ul>
</p>

<h1> Registration </h1>
<img src="/static/imgs/registration.png" alt="registration" />
<p>
	<ol>
		<li> User register to the AAS by providing
			<ul>
				<li> A nickname </li>
				<li> A valid email address </li>
			</ul>
		</li>
		<li> The AAS sends a verification email to the given address </li>
		<li>
			The user goes to the provided verification link to activate its
			account
		</li>
		<li>
			The AAS activate the account and login the user to its
			settings panel
		</li>
	</ol>
</p>

<h1> Login </h1>

</div>