<!-- XXX set some slides on this -->
<div class="container">
<h1> Awesom Auth Server </h1>
<p>
	The <abbr title="Awesom Auth Server">AAS</abbr> allows
	multiple services to share the same user base. Here's a quick
	summary:
	<ul>
		<li> User need to have a valid email account </li>
		<li>
			AAS is <a href="http://passwordless.org">password-less</a>:
			the user only have to remember its email password
		</li>
	</ul>
</p>

<h1> Registration </h1>
<img src="/static/imgs/registration.png" alt="registration" />
<p>
	<ol>
		<li> User register to the AAS by providing
			<ul>
				<li> A nickname </li>
				<li> A valid email address </li>
			</ul>
		</li>
		<li> The AAS sends a verification email to the given address </li>
		<li>
			The user goes to the provided verification link to activate its
			account
		</li>
		<li>
			The AAS activate the account and login the user to its
			settings panel
		</li>
	</ol>
</p>

<h1> Login </h1>
<img src="/static/imgs/login.png" alt="login" />
<p>
	<ol>
		<li> A registered user ask the service to be connected </li>
		<li> The service ask the AAS to generate a token for the given user </li>
		<li> The AAS sends the user a token via email for this service </li>
		<li> The user provide this token to the service </li>
		<li>
			The service check the token validity and keep user identity
			somewhere (eg. cookies). The service may change the token
			at each request, periodically, etc.
		</li>
	</ol>
</p>

<h1> Settings </h1>
<img src="/static/imgs/settings.png" alt="settings" />
<p>
	The settings allows to user to:
	<ul>
		<li> Change its personnal informations </li>
		<li> View all the current tokens. At least the token for the AAS should be displayed. </li>
	</ul>
</p>

<h1> API </h1>
<h2> Fonctions </h2>
<p>
	Services use the AAS through the following HTTP API. Services must
	have been previously registered to the AAS by an administrator. <br />
	All parameters are non-empty string.
	<ul>
		<li>
			<b>POST /api/discover name=... url=... ip=...</b>, register the service to the AAS <br />
			Return a key identifying the service/ko. <br />
			All the following requests but <i>info</i> <b>must</b> have a "key=..."  value. <br />
			Manually contact the admnistrator if you lose the key.
		</li>
		<li>
			<b>POST /api/update </b> , update the key for the service. <br />
			Return the new key/ko.
		</li>
		<li>
			<b>GET /api/info?token=...</b>, retrieve info about the token owner <br />
			Returns « name\n email »/<i>ko</i>
		</li>
		<li>
			<b>GET /api/login?login=...</b>, Login the user to the AAS for the service
			who request it. <br />
			If login is a name/email, a new token will be available on the AAS. <br />
			Else, if it's a valid token, the user will be effectively login. <br />
			Returns <i>new</i> if a new token has been generated, <i>ok</i> if the login
			was a valid token, else <i>ko</i>.
		</li>
		<li>
			<b>GET /api/chain?token=...</b>, update the given token if its valid. <br />
			Returns the new token/<i>ko</i>.
		</li>
	</ul>
</p>
<h2> Example </h2>
<p>
	To register a new service:
	<pre><code>(earth)$ curl --data 'name=thipi&url=http://thipi.awesom.eu/' http://localhost:8080/api/discover
K4U3cbACnEMYFfzLaTgwAspuR7NQ6S9Hdhg4LhBxTvKMRsqdtHTkSQxeKtZRGnR1
</code></pre>
	Service is now registered with given name and URL. The returned key shall now
	be used to identify the service.
</p>

</div>
