<div class="container text-center">
<form action="/login/" method="post">
	<div class="input-group">
		<span class="input-group-addon">⚛</span>
		<input autocomplete="off" name="login" type="text" class="form-control" placeholder="Token, username or email" />
	</div>
	<div class="input-group">
		<span class="input-group-addon">★</span>
		<input name="passwd" type="password" class="form-control" placeholder="Password" />
	</div>
	<p> If you have no token, enter your email or username. You will soon receive a one. </p>
	<p> You may also use a password if you setup one. </p>
	<input class="btn btn-success btn-lg" type="submit" value="Login" />
</form>
</div>
