<nav class="navbar navbar-default" role="navigation">
	<a class="navbar-brand" href="/">Awesom's Auth Server</a>
	{{ if .Connected }}
		<a class="navbar-brand" href="/sessions">Sessions</a>
		<a class="navbar-brand" href="/settings">Settings</a>
	{{ else }}
		<a class="navbar-brand" href="/register">Register</a>
		<a class="navbar-brand" href="/login">Login</a>
	{{ end }}
	{{ if .Admin }}
		<a class="navbar-brand" href="/admin">Admin</a>
	{{ end }}
	{{ if .Connected }}
		<a class="navbar-brand" href="/logout">Logout</a>
	{{ end }}
</nav>

{{ if .IsError }}
	<div id="info" class="alert alert-dismissable alert-danger">
		<button type="button" class="close"
			data-dismiss="alert" aria-hidden="true">&times;</button>
		{{ .Msg }}
	</div>
{{ else if .IsInfo }}
	<div id="info" class="alert alert-dismissable alert-info">
		<button type="button" class="close"
			data-dismiss="alert" aria-hidden="true">&times;</button>
		{{ .Msg }}
	</div>
{{ end }}
