<div class="container text-center">
<form action="/register/" method="post">
	<div class="input-group">
		<span class="input-group-addon">☺</span>
		<input name="name" type="text" class="form-control" placeholder="Username" />
	</div>
	<div class="input-group">
		<span class="input-group-addon">@</span>
		<input name="email" type="text" class="form-control" placeholder="Email" />
	</div>
	<div class="input-group">
		<span class="input-group-addon">★</span>
		<input name="passwd" type="password" class="form-control" placeholder="Password" />
	</div>
	<p>(Password is optional; let empty to disable it)</p>
	<p><img id="image" src="/captcha/{{.CaptchaId}}.png" alt="Captcha image"></p>
	<p> (Reload for new captcha) </p>
	<input type="hidden" name="captchaId" value="{{.CaptchaId}}" /><br>
	<input autocomplete="off" type="text" name="captchaRes" /><br />
	<input class="btn btn-success btn-lg" type="submit" value="Register" />
	<script>
		function setSrcQuery(e, q) {
			var src = e.src;
			var p = src.indexOf('?');
			if (p >= 0) {
				src = src.substr(0, p);
			}
			e.src = src + "?" + q
		}

		function reload() {
			setSrcQuery(document.getElementById('image'), "reload=" + (new Date()).getTime());
			return false;
		}
	</script>
</form>
</div>
