<div class="container text-center">
<ul class="nav nav-tabs" id="tabs">
	<li class="active"><a href="#update" data-toggle="tab">Update personnal info</a></li>
	<li><a href="#unregister" data-toggle="tab">Remove account</a></li>
</ul>
<div class="tab-content">
	<div class="tab-pane fade in active" id="update">
	<p class="text-left alert alert-warning">
		Be carefull: by updating those data, all your current
		sessions will be terminated and you will be logged out.
	</p>
	<form action="/settings/" method="post">
		<div class="input-group">
			<span class="input-group-addon">☺</span>
			<input name="name" type="text" class="form-control" value="{{ .Name }}" />
		</div>
		<div class="input-group">
			<span class="input-group-addon">@</span>
			<input name="email" type="text" class="form-control" value="{{ .Email }}" />
		</div>
		<div class="input-group">
			<span class="input-group-addon">☆</span>
			<input autocomplete="off" name="passwd" type="password" class="form-control" placeholder="Old password" />
			<span class="input-group-addon">★</span>
			<input name="npasswd" type="password" class="form-control" placeholder="New password" />
		</div>
		<p><input class="btn btn-success btn-lg" type="submit" value="Update" /></p>
	</form>
	</div>
	<div class="tab-pane fade text-center" id="unregister">
		<p class="text-left alert alert-danger">
			Your account on this AAS will be definitely removed. You won't
			be able to connect to it, nor to use it through any services.
		</p>
		<form action="/unregister/" method="post">
			<input class="btn btn-danger btn-lg" type="submit" value="Unregister" />
		</form>
	</div>
	<script>
		$(function() {
			 $('#tabs a:first').tab('show')
		})
	</script>
</div>
</div>
